// Configuration

body {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    // font-size: $font-size--base;
    // font-weight: $font-weight--light;
    // color: palette(black, normal);
}

a {
    text-decoration: none;
}
