// Colors

$color-white:       #FFFFFF;

$color-primary:     #532261;
$color-secondary:   #444535;
$color-third:       #EE0058;
$color-text-link:   $color-primary;
$color-text-link-hover: $color-primary;

$color-background:  #EFEFEF;

//
// Color palette function
//
$color-palettes: (
	background: (
        light    : #F7F7F7,
		normal   : $color-background
	),
	white: (
		normal	 : $color-white,
	),
	black: (
		light	 : #979797,
		normal   : $color-secondary
	),
    green: (
        xx-light : #C6C7C2,
		x-light	 : #B0B0AA,
        light    : #7C7C71,
        normal   : $color-secondary
    ),
    purple: (
        x-light  : #DDD3DF,
        light    : #A991B0,
        normal   : $color-primary
    ),
    pink: (
        normal   : $color-third
    )
);
