// Importing the Oxygen font from Google
@import 'https://fonts.googleapis.com/css?family=Oxygen:300,400';

@font-face {
    font-family: 'icomoon';
    src: url('../Fonts/icomoon.eot?mvf32j');
    src: url('../Fonts/icomoon.eot?mvf32j#iefix') format('embedded-opentype'),
         url('../Fonts/icomoon.ttf?mvf32j') format('truetype'),
         url('../Fonts/icomoon.woff?mvf32j') format('woff'),
         url('../Fonts/icomoon.svg?mvf32j#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

// Font variables
$font-primary: 'Oxygen', 'Arial';
$font-secondary: 'Arial';

$font-weight--light: 300;
$font-weight--reg: 400;

$font-size--base: 16px;
