@import "../boo/bower_components/neat/app/assets/stylesheets/neat-helpers";

// Change the grid settings
$column: 80px;
$gutter: 0em;
$grid-columns: 12;
$max-width: 1200px;

// Define your breakpoints
$tablet: new-breakpoint(max-width 1200px 8);
$mobile: new-breakpoint(max-width 480px 4);
